services:
  battleship_mysql:
    image: mysql:8.0
    container_name: battleship_mysql
    ports:
      - "3306:3306"
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: battleship_db
    volumes:
      - mysql_data:/var/lib/mysql

  battleship_mongo:
    image: mongo:latest
    container_name: battleship_mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

volumes:
  mysql_data:
  mongo_data: